.button {
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: $basic-white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: $basic-accent;
  border: none;

  box-sizing: border-box;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $basic-accent-light;
  }

  &:active {
    color: transparentize($basic-white, 0.3);
  }
}
