.feedback__wrapper {
  @include container;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  min-height: 461px;

  background-image: url("../../img/feedback-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position-x: left;

  @media (max-width: $tablet-width) {
    justify-content: center;
    background-position-x: center;
  }
}

.feedback__content {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
  padding: 50px;

  max-width: 656px;

  background-color: $basic-white;

  box-shadow: 0 4px 30px 0 transparentize(#293642, 0.9);
  box-sizing: border-box;
}

.feedback__title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: $basic-dark-deep;
  text-align: center;
}

.feedback__description {
  margin-top: 12px;

  line-height: 24px;
  color: $basic-dark-deep;
  text-align: center;
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 7px;
}
