.feedback__wrapper {
  @include container;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  min-height: 455px;
  background-color: $basic-accent;
  background-image: url("../../img/feedback-bg-desktop.jpg"), linear-gradient(90deg, $basic-accent 0%, $basic-accent 70%, $basic-white 70%, $basic-white 100%);
  background-repeat: no-repeat;
  background-position-x: left;

  @media (max-width: $tablet-width) {
    justify-content: center;
    background-position-x: center;
    background-size: cover;
  }

  @media (max-width: $mobile-width) {
    background-color: $basic-grey-light;
    background-image: none;
  }
}

.feedback__content {
  display: flex;
  flex-direction: column;

  margin-bottom: 4px;
  padding: 50px;

  max-width: 656px;

  background-color: $basic-white;

  border-radius: 5px;
  box-shadow: 0 4px 30px 0 transparentize(#293642, 0.9);
  box-sizing: border-box;

  @media (max-width: $mobile-width) {
    padding-top: 39px;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    box-shadow: none;
  }
}

.feedback__title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: $basic-dark-deep;
  text-align: center;
}

.feedback__description {
  margin-top: 12px;

  line-height: 24px;
  color: $basic-dark-deep;
  text-align: center;

  @media (max-width: $mobile-width) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 7px;

  @media (max-width: $mobile-width) {
    margin-top: 0;
  }
}
