.form__field {
  display: flex;
  width: 100%;
  max-width: 269px;
}

.form__label {
  position: relative;
}

.form__label--required {
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 13px;

    width: 8px;
    height: 8px;

    background-image: url("../../img/decor/asterisk-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.form__label--phone {
  &::after {
    content: "+7";
    position: absolute;
    top: 17px;
    left: 25px;

    font-size: 14px;
  }

  + .form__input {
    padding-left: 49px;
  }
}

.form__input {
  padding-top: 17px;
  padding-right: 15px;
  padding-bottom: 14px;
  padding-left: 15px;

  width: 100%;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: $basic-dark-deep;

  border: 1px solid transparentize($basic-dark, 0.7);

  &::placeholder {
    font-size: 14px;
    color: $basic-dark-deep;
  }

  &:hover,
  &:focus {
    border: 1px solid transparentize($basic-dark, 0.15);
  }
}

.form__button {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
  }
}
