.main-nav__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-top: 132px;

    width: 100%;
  }
}

.main-nav__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 30px;

    background-color: $basic-grey-light;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.main-nav__link {
  display: flex;
  padding-top: 17px;
  padding-bottom: 17px;

  font-weight: 500;
  font-size: 14px;
  color: $basic-dark-deep;
  text-decoration: none;

  box-sizing: border-box;

  @include activity-link;

  @media (max-width: $tablet-width) {
    padding-left: 16px;

    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
}
