.modal {
  position: fixed;
  width: 100%;
  height: 100vh;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;

  display: none;

  overflow-y: scroll;
  overflow-x: hidden;
  background-color: transparentize($basic-white, 0.1);
}

.modal--show {
  display: flex;
}

.modal__wrapper {
  position: relative;
  display: flex;
  max-width: 728px;
  min-height: 444px;

  width: 100%;
  margin: auto;

  box-sizing: border-box;
}

.modal__form {
  grid-column-start: 2;

  padding-top: 72px;
  padding-right: 60px;
  padding-bottom: 30px;
  padding-left: 60px;

  background-color: $basic-grey-light;
}

.modal__message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: $basic-grey-light;
}

.modal__success-message {
  margin: 0;
  font-size: 25px;
  line-height: 42px;
  color: #48494d;
  text-align: center;
}

.modal__close {
  position: absolute;
  z-index: 2;

  top: 0;
  right: 0;

  width: 62px;
  height: 62px;

  background-color: transparent;
  background-image: url("../../img/decor/cross-menu-icon.svg");
  background-position: center;
  background-repeat: no-repeat;

  border: none;

  cursor: pointer;
}
