.page-main__intro {
  position: relative;

  @media (max-width: $mobile-width) {
    padding-top: 82px;
  }
}

.page-main__countries {
  margin-top: 150px;
  padding-top: 50px;

  @media (max-width: $tablet-width) {
    margin-top: 50px;
    padding-top: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 50px;
    padding-top: 36px;
  }
}

.page-main__catalog {
  position: relative;

  @media (max-width: $tablet-width) {
    padding-top: 79px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 41px;
  }
}

.page-main__price {
  margin-top: 180px;
  padding-top: 60px;
  padding-bottom: 138px;

  @media (max-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 124px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 29px;
    padding-bottom: 34px;
  }
}

.page-main__feedback {
  margin-bottom: 69px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  // @media (max-width: $mobile-width) {
  //   display: none;
  // }
}

// .page-footer {
//   display: none;
// }
