.page-main__intro {
  position: relative;

  @media (max-width: $mobile-width) {
    padding-top: 82px;
  }
}

.page-main__countries {
  padding-top: 200px;

  @media (max-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-main__catalog {
  position: relative;

  @media (max-width: $tablet-width) {
    padding-top: 79px;
  }
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-main__price {
  padding-top: 240px;
  padding-bottom: 138px;

  @media (max-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 124px;
  }
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-main__feedback {
  margin-bottom: 69px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-footer {
  display: none;
}
