.price__wrapper {
  @include container;

  display: grid;
  grid-template-columns: 2fr 1fr;
  // gap: 15px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.price__content {
  align-self: center;
  justify-self: end;

  margin-top: 22px;
  max-width: 291px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 0;
    padding-left: 0;

    max-width: 100%;
  }
}

.price__title {
  @include title-style;

  margin-top: 0;
  margin-bottom: 31px;
  padding-bottom: 20px;

  color: $basic-dark;

  &::before {
    bottom: -2px;

    width: 175px;
    height: 3px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 5px;
    padding-bottom: 0;
  }
}

.price__description {
  @include text-style;
  line-height: 27px;

  color: transparentize($basic-dark, 0.3);

  @media (max-width: $tablet-width) {
    text-align: center;
  }
}

.price__contacts {
  margin-top: 62px;
  padding-right: 31px;

  @media (max-width: $tablet-width) {
    margin-top: 16px;
    padding-right: 0;
  }
}

.price__call-to-action {
  margin-top: 0;
  margin-bottom: 13px;

  text-align: end;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: $basic-dark-deep;

  @media (max-width: $tablet-width) {
    margin-bottom: 11px;

    font-size: 18px;
    text-align: center;
  }
}

.price__phone {
  display: flex;
  justify-content: flex-end;
  padding-right: 4px;

  font-size: 20px;
  line-height: 32px;
  color: $basic-black;
  text-decoration: none;

  @include activity-link;

  stroke: $basic-accent;

  svg {
    margin-right: 17px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 0;

    font-size: 18px;
    color: $basic-accent;
    text-decoration: underline;

    svg {
      display: none;
    }

    &:hover,
    &:focus {
      color: $basic-dark;
    }
  }
}

.price__list {
  order: -1;

  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $tablet-width) {
    order: 0;
    gap: 0;

    display: flex;
    justify-content: center;

    margin-top: 30px;
  }
}

.price__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 370px;

  cursor: default;

  @media (max-width: $tablet-width) {
    position: relative;
    display: block;
    margin-right: 50px;

    max-width: 288px;

    &:last-child {
      margin-right: 0;
    }
  }
}
