.review__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: $basic-dark;
}

.review__text {
  font-size: 14px;
  line-height: 28px;

  color: transparentize($basic-dark, 0.3);
}
