.tour-card__info {
  padding-top: 54px;

  @media (max-width: $tablet-width) {
    padding-top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.tour-card__title {
  @include title-style;

  margin-bottom: 54px;

  letter-spacing: -0.02em;

  &::before {
    bottom: -22px;

    width: 175px;
    height: 3px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 5px;

    letter-spacing: normal;
  }
}

.tour-card__description {
  @include text-style;

  color: transparentize($basic-dark, 0.3);

  letter-spacing: -0.03em;

  @media (max-width: $tablet-width) {
    text-align: center;
  }
}

.tour-card__review {
  z-index: 1;
  justify-self: end;
  align-self: start;
  margin-top: 153px;

  width: 382px;
  min-height: 285px;

  @media (max-width: $tablet-width) {
    justify-self: center;
    margin-top: 80px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 51px;
    width: 268px;
  }
}

.tour-card__image-wrapper {
  position: absolute;
  top: 39px;
  left: 40.2%;
  z-index: -1;

  @media (max-width: $tablet-width) {
    top: auto;
    left: 0;
    bottom: 24px;

    width: 100%;
    height: 415px;

    overflow: hidden;
  }

  @media (max-width: $mobile-width) {
    bottom: 81px;
  }
}

.tour-card__image {
  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.tour-card__button {
  margin-top: 48px;

  @media (max-width: $tablet-width) {
    margin-top: 2px;
  }
}
