$basic-white: #ffffff;
$basic-grey-light: #fbf8f8;
$basic-black: #000000;
$basic-dark: #2c2e3f;
$basic-dark-deep: #141517;
$basic-accent: #fe7865;
$basic-accent-light: #f17d4b;

$tablet-width: 1023px;
$mobile-width: 767px;
